<ion-header>
  <ion-toolbar>
    <ion-title>categories</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-hide-sm-up category-sm-container">

  <div class="category" text-center>
    <ion-row>
      <ion-col>
        <ion-icon name="person"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Credito</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>162 offers</p>
      </ion-col>
    </ion-row>
  </div>

  <div class="category" text-center>
    <ion-row>
      <ion-col>
        <ion-icon name="person"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Credito</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>162 offers</p>
      </ion-col>
    </ion-row>
  </div>

  <div class="category" text-center>
    <ion-row>
      <ion-col>
        <ion-icon name="person"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Credito</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>162 offers</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>