.category {
    position: absolute;
    background: #ffffff;
    padding: 12px;
    border-radius: 100%;
    height: 150px;
    width: 150px;

    p {
        margin: 0;
    }
    h2 {
        margin: 0;
    }
}

// dimensions
// xl: 170
// md: 150
// sm: 130
// xs: 110-100

$md:150px;
$sm: 130px;

.category:nth-child(1) {
    left: 15px;
    top: 1%;
    height: $md;
    width: $md;
    background: var(--ion-color-primary);
    color: #ffffff;
}
.category:nth-child(2) {
    left: 178px;
    top: 1%;
    height: 170px;
    width: 170px;
}
.category:nth-child(3) {
    right: 15px;
    bottom: 30%;
    height: $md;
    width: $md;
}
.category:nth-child(4) {
    left: 31px;
    bottom: 20%;
    height: 130px;
    width: 130px;

}
.category:nth-child(5) {
    left: 20px;
    bottom: 44%;
    width: 170px;
    height: 170px;
}
.category:nth-child(6) {
    left: 174px;
    bottom: 1%;
    width: 170px;
    height: 170px;
}
.category:nth-child(7) {
    left: 54px;
    bottom: 1%;
    width: 110px;
    height: 110px;

    p {
        margin: 0;
        font-size: 10px;
    }
    h2 {
        margin: 0;
        font-size: 15px;
    }
}
.category:nth-child(8) {
    left: 198px;
    bottom: 55%;
    width: 100px;
    height: 100px;

    p {
        margin: 0;
        font-size: 10px;
    }
    h2 {
        margin: 0;
        font-size: 15px;
    }
}