.no-account-link{
    text-decoration: underline;
    font-size: 14px;
}
.signIn-input{
    border: solid 1px #bebec4;
    border-radius: 3px;
}

.title-row{
    margin-bottom: 48px;
    margin-top: 48px;
}

.title-row h1{
    font-size: 36px;
    font-weight: bold;
    color: #293134;
    margin-bottom: 16px;
}

.title-row ion-icon{
    vertical-align:bottom;
    font-size: 22px;
    padding-right: 4px;
}

.submit-row{
    margin-top: 160px;
}

.submit-row button{
   border-radius: 3px;
   display: block;
   width: 100%;
   padding: 16px;
   background: #fb6666;
   color: white;
   font-size: 16px;
}

.terms{
    font-size: 14px;
    color: #bebec4;
    margin: 8px;
 }