<ion-content padding>
  <ion-grid>
    <ion-row margin-top>
      <ion-col>
        <a class="no-account-link">Don't have an account? Sign up.</a>
      </ion-col>
    </ion-row>
    
    <ion-row class="title-row">
      <ion-col>
        <h1>Sign In</h1>
        <ion-icon name="logo-google"></ion-icon>
        <a>Login with Google</a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input padding class="signIn-input" placeholder="Mail"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input padding class="signIn-input" placeholder="Password"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="submit-row">
      <ion-col>
          <button>Sign In</button>
      </ion-col>
    </ion-row>

  </ion-grid> 
</ion-content>
