// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~@ionic/angular/css/display.css';

// the main ion-header style common to entire app
.ia-header{
    ion-toolbar {
        --background: #f2f2f2;
        --border-style: none;  
    }
    .toolbar-icon {
        color: #969696;
        
    }
}

a{
    text-decoration: none;
    color: #293134;
}

.edged-input {
    margin-bottom: 0!important;
    background: #ffffff;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        --background: #ffffff;
        border: 1px solid #d0d4e0;
        border-radius: 4px;
        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }
        ion-label {
            color: #807e7e!important;
            font-weight: 300;
            font-size: 1rem!important;
        }
        ion-input {
            --placeholder-color: #545862;
        }
    }
}


