<ion-header>
  <ion-toolbar>
    <ion-title>new-deal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <h1>New Deal</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        
        <ion-card>
          <ion-card-header>
            <ion-button (click)="onSelectCategory()"><ion-icon name="car"></ion-icon></ion-button>
            <span>RC AUTO</span>
          </ion-card-header>
        
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Default Label</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
